<!DOCTYPE html>
<form action=#>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stoneware</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
<div class="container">
           <div class="header">
        <div class="logotype">
           <a href="/"><img class="img" src="/static/img/logo.png" alt="Логотип"></a>
       </div>
    
        <ul class="menu">
           <li><a href="/">Главная</a></li>
           <li><a href="/product/">Каталог</a></li>
           <li><a class="active" href="/contacts/">Контакты</a></li>
        </ul>
      </div>
     
        <h2 class="rubric">Напишите нам</h2>
        
        Имя <input class="input" type="text"  placeholder="Анатолий"> <br>
        Email <input class="mail" type="text" placeholder="anatoliy@mail.ru"><br>
        Выберите тему<br>
        <select>
            <option value="Претензия">Претензия</option>
            <option value="Благодарность">Благодарность</option>
            <option value="Пожелания">Пожелания</option>
            <option value="Иное">Иное</option>           
        </select> <br> 
        Напишите что душа пожелает <br>
        <textarea class="textarea" ></textarea> <br>
        <button type="submit">Отправить</button>
        <button type="resert">Очистить</button>
    <h2>Адрес</h2>
    <p>Наш номер</p> 
    <a href="tel:+78142332211">+7(814)-233-22-11</a>
    <address>Парк Останкино, офис 392</address>
    <p><a href="mailto:ivai@yandex.ru subject=Вопрос по HTML">Задавайте
    вопросы по электронной почте</a></p>
    <p>Нас легко найти</p> <br>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3b608ec8e11d8f35636ec634a2b70d1278dd88d06f86d7af99fbb4cea9c7c74f&amp;width=390&amp;height=304&amp;lang=ru_RU&amp;scroll=true"></script>

    <div class="footer">
    <footer class="foter">
       &copy;
       Все права защищены.
    </footer>
    </div>
</div>
    
</body>
</html>
</form>