<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stoneware</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
<div class="container">
    <div class="header">
       <div class="logotype">
           <a href="/"><img class="img" src="/static/img/logo.png" alt="Логотип"></a>
       </div>

        <ul class="menu">
           <li><a class="active" href="/" >Главная</a></li>
           <li><a  href="/product/">Каталог</a></li>
           <li><a href="/contacts/">Контакты</a></li>   
        </ul>


    </div>

 <h2>Магазин керамической посуды Stonewear</h2>
<img src="/static/img/ceramic.jpg" alt="Посуда"/>
<p>Представляем вашему вниманию наш прекрасный магазин, где каждый найдет себе что-то по&nbsp;душе!</p>
<p>С&nbsp;помощью керамических посудных наборов возможно выполнять любую красивую сервировку стола</p>
<p> Непоторимый дизайн и&nbsp;долгий срок службы будет радовать Вас каждый день.</p>
<hr>
<p>Кухонная керамическая посуда экологически безопасна, не&nbsp;вызывает аллергии, имеет привлекательный внешний вид<br>
и&nbsp;при бережном отношении может прослужить довольно долгое время. <br>
Разнообразный дизайн посуды из&nbsp;керамики поможет ей&nbsp;гармонично вписаться практически в&nbsp;любой интерьер кухни. <br>
К&nbsp;тому&nbsp;же керамическая посуда может использоваться не&nbsp;только для сервировки стола, но&nbsp;и&nbsp;для готовки.</p>

    <div class="footer">
    <footer class="foter">
       &copy;
       Все права защищены.
    </footer>
</div>
</div>
</body>
</html>