<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipkin</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="container">
         <div class="header">
       <div class="logotype">
           <a href="../index.html"><img class="img" src="../img/logo.png" alt="Логотип"></a>
       </div>
    
      <ul class="menu">
       <li><a class="menu-link" href="../index.html">Главная</a></li>
       <li><a class="menu-link" href="product.html">Каталог</a></li>
       <li><a class="menu-link" href="../contacts.html">Контакты</a></li>
   </ul>
    </div>

 <h2 class="rubric">Описание товара</h2>
  <div class="depiction">
<a href="../img/cup2.jpg" target="_blank"> <img class="photo" src="../img/cup2.jpg" width="200" alt=""></a>
<p class="specification">Кружка. Ручная работа.</p>
   <button class="button" type="submit">Купить</button>
    </div>
<h2 class="rubric">Характеристика товара</h2>
<table class="list">
    <tr>
        <td>Диаметр</td>
        <td>10,8</td>
    </tr>
        <tr>
        <td>Высота</td>
        <td>10,5</td>
    </tr>
        <tr>
        <td>Объем</td>
        <td>0,600</td>
    </tr>
</table>

<h2 class="rubric">Подробное описание товара</h2>
<p class="write-up">Кружка, подаренная вам от&nbsp;всей души, всегда займет достойное место на&nbsp;вашем столе и&nbsp;каждый день будет радовать вас!</p>
<h2 class="rubric">Преимущества</h2>
<ul class="plus">
<li>Хорошо отнесётся к&nbsp;мытью в&nbsp;посудомоечной машине.</li>
<li>Можно использовать в&nbsp;СВЧ-печи.</li>
</ul>
    <div class="footer">
    <footer class="foter">
       &copy;
       Все права защищены.
    </footer>
    </div>   
</div>   
</body>
</html>