{% load static %}
    <h2 class="rubric">Товар каталога</h2>
    <hr>
    <div class="bloc">
    <a class="bloc-list" href="pipkin1.html"><img class="decorimg" src="{% static 'img/dish.jpg' %}" alt="Миска">Изящная миска</a>

    <a class="bloc-list"href="pipkin.html"><img class="decorimg" src="{% static 'img/dish2.jpg' %}" alt="Миска">Миска</a>

    <a class="bloc-list"href="dish.html"><img class="decorimg" src="{% static 'img/dish4.jpg' %}" alt="Тарелка">Тарелка</a><br>

    <a class="bloc-list"href="dish1.html"><img class="decorimg" src="{% static 'img/dish3.jpg' %}" width="200" alt="Тарелка">Тарелка</a>

    <a class="bloc-list"href="cup1.html"><img class="decorimg" src="{% static 'img/cup.jpg' %}" alt="Кружка">Кружка</a>

    <a class="bloc-list"href="cup.html"><img class="decorimg" src="{% static 'img/cup2.jpg' %}" alt="Кружка">Кружка</a>

    </div>