{% load static %}
    <div class="header">
       <div class="logotype">
           <a href="{% url 'index' %}"><img class="img" src="{% static 'img/logo.png' %}" alt="Логотип"></a>
       </div>

        <ul class="menu">
           <li>
               <a class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}"
                  href="{% url 'index' %}" >
               Главная
               </a>
           </li>
           <li><a class="{% if request.resolver_match.url_name == 'catalog' %}active{% endif %}"
                  href="{% url 'catalog' %}">Каталог</a></li>
           <li><a class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}"
                  href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
    </div>