<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipkin</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="container">
         <div class="header">
        <div class="logotype">
           <a href="../index.html"><img class="img" src="../img/logo.png" alt="Логотип"></a>
       </div>
    
      <ul class="menu">
       <li><a class="menu-link" href="../index.html">Главная</a></li>
       <li><a class="menu-link" href="product.html">Каталог</a></li>
       <li><a class="menu-link" href="../contacts.html">Контакты</a></li>
   </ul>
    </div>

 <h2 class="rubric">Описание товара</h2>
 <div class="depiction">
<a href="../img/dish4.jpg" target="_blank" > <img class="photo" src="../img/dish4.jpg" width="180" alt=""></a>
<p class="specification">Тарелка. Ручная работа.</p>
   <button class="button" type="submit">Купить</button>
    </div>
<h2 class="rubric">Характеристика товара</h2>
<table class="list">
    <tr>
        <td>Диаметр</td>
        <td>22</td>
    </tr>
        <tr>
        <td>Высота</td>
        <td>2,5</td>
    </tr>
        <tr>
        <td>Свойства</td>
        <td>Уникальная</td>
    </tr>
</table>
<h2 class="rubric">Подробное описание товара</h2>
<p class="write-up">Тарелка подойдет под всё, что вы&nbsp;пожелаете подать к&nbsp;столу. Приятного аппетита!</p>
<br>
<h2 class="rubric">Преимущества</h2>
<ul class="plus">
<li>Хорошо отнесётся к&nbsp;мытью в&nbsp;посудомоечной машине.</li>
<li>Можно использовать в&nbsp;СВЧ-печи.</li>
</ul>
    
    <div class="footer">
    <footer class="foter">
       &copy;
       Все права защищены.
    </footer>
    </div>
</div>
</body>
</html>