<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ page_title|title }}
        {% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    {% endblock %}

    {% block js %}
    {% endblock %}

</head>
<body>
<div class="container">
    {% block menu %}
    {% endblock %}

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>


    {% block footer %}
    <div class="footer">
        <footer class="foter">
           &copy;
        Все права защищены.
        </footer>
    </div>
    {% endblock %}
</div>
</body>
</html>