{% extends 'mainapp/layout.html' %}
{% load static %}


 {% block content %}
<h2>{% now 'd-m-y' %}</h2>
 {% include 'mainapp/widgets/list.html' %}
{% include 'mainapp/widgets/inc__product.html' %}


    
    <h2 class="rubric">Немного о нашем продукте</h2>
    <p class="write-up">В настоящее время керамическая посуда широко применяется многими ресторанами и кафе. Поданные в ней блюда выглядят очень аппетитно<br>
    и привлекательно. Кроме того, они сохраняют свой первоначальный вкус и аромат. <br>
    В нашем интернет магазине авторская керамическая посуда представлена в большом ассортименте изделий: <br>
    салатников, чашек, тарелок, вазочек, блюд. <br>
    Благодаря многообразию цветовой гаммы и форм эта столовая посуда идеально подойдет под любой стиль интерьера, начиная от классического<br>
    и заканчивая модным хай-теком или минимализмом. <br>
    Любая керамическая посуда изготавливается только из экологически чистых, пластичных материалов. <br>
    Это глина, кварц, полевой  шпат, каолин. Смесь природных материалов спекается при очень высоких температурах, что позволяет получить<br>
    прочное и надежное изделие из керамики.
    <br>
    Приемы обработки и украшения поверхности изделий в каждом конкретном случае будут разные, поэтому всю столовую керамическую посуду можно<br>
    разделить на несколько видов: майолика, фаянс, терракота, фарфор.</p>
    <h2 class="rubric">Особенности использования и ухода</h2>
    <p class="write-up">С керамической посудой стоит обращаться очень осторожно – ведь она весьма хрупкая.
    При использовании столовых предметов из керамики стоит учитывать, что этот материал нельзя подвергать резким температурным перепадам. <br> Керамическую посуду можно мыть вручную или в посудомоечной машине, но хрупкие предметы лучше вымыть руками. <br>
    Также при очищении и мытье не стоит использовать металлические мочалки, чтобы не допустить повреждения поверхности предметов. <br>
    После мытья керамику без глазури необходимо хорошо протирать полотенцем, чтобы исключить появление трещин. <br>
    При бережном отношении к столовой утвари из керамики она будет много лет радовать своим привлекательным внешним видом и практичностью.</p>
   
   
   
    <h2 class="rubric">Преимущества керамической посуды</h2>
    <ul class="plus">
        <li>термостойкость;</li>
        <li>абсолютную безопасность для здоровья, которая обеспечивается полной экологической чистотой материала;</li>
        <li>исключение пригорания пищи;</li>
        <li>можно использовать для микроволновой печи, духовки (электрической или газовой), плиты;</li>
        <li>идеальна для мультиварки;</li>
        <li>легко моется вручную или машиной, допускается использование моющих средств.</li>
    </ul>
    <p class="specification">Единственным недостатком посуды из керамики является способность материала впитывать растительные и животные жиры. <br>
    Не распространяется это свойство только на посуду, покрытую глазурью.</p>
{% endblock %}
